@model SimpleStore.Models.Product

@{
    ViewData["Title"] = "Create Product";
}
@using(Html.BeginForm("Create" , "Product"  ,FormMethod.Post)){

@Html.AntiForgeryToken()

<h1>Create Product</h1>

<hr />
<div>
    <div style="border: 1px solid black; background-color : lightblue;">
            
            <div>
                <span>Product Name : </span>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>

            <div>
                <span>Category : </span>
                <select asp-for="Category" >
                    <option value="Electronics">Electronics</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Books">Books</option>
                    <option value="Home Goods">Home Goods</option>
                    <option value="Toys">Toys</option>
                </select>
            </div>

            <div>
                 <span>Price : </span>
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
               
            </div>

            <div>
                <span>Quantity : </span>
                   @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
            </div>

            <div>
                <input type="submit" value="Create" style="color : white ; background-color : blue"  />
            </div>
      
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 